<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.StupidRat.SysLvl"
      android:versionName="3.2.1" android:versionCode="15">
    <application 
    	android:icon="@drawable/icon" 
    	android:label="@string/app_name" android:debuggable="true">
    	
        <activity 
        	android:name="SplashScreen" 
        	android:label="@string/app_name"
        	android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="SysLvlScreen"/>
        <activity
            android:name="SysLvlSettingsActivity"/>
        <activity
            android:name="HelpScreen"/>
        <activity
            android:name="MenuScreen"/>
        <activity 
        	android:name=".NewQA"/>
        <activity
        	android:name="SpanDetails"/>
        <activity
        	android:name=".Preferences"/>
        <activity
        	android:name="GeoNotesScreen"/>
        <activity 
        	android:name="GeoNoteEdit"/>
        <activity 
        	android:name="BarcodeScanner"
        	android:screenOrientation="portrait"/>
        <activity 
        	android:name="EquipmentScreen"
        	android:screenOrientation="portrait"/>

	<!-- The application's publisher ID assigned by AdMob -->
	<meta-data android:value="a14d251ae6865db" android:name="ADMOB_PUBLISHER_ID" />
        
	<!-- AdMobActivity definition -->
	<activity android:name="com.admob.android.ads.AdMobActivity"
		android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
		android:configChanges="orientation|keyboard|keyboardHidden" />
	<!-- Track Market installs -->          
	<receiver android:name="com.admob.android.ads.analytics.InstallReceiver"
		android:exported="true">
	<intent-filter>
   		<action android:name="com.android.vending.INSTALL_REFERRER" />
	</intent-filter>
	</receiver>

    </application>
    <uses-sdk android:minSdkVersion="6" />

	<!-- AdMob SDK requires Internet permission -->
  	<uses-permission android:name="android.permission.INTERNET" />
  	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  
</manifest> 